@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Этот сайт никак не защищён, все ваши данные в открытом доступе, мы за них никак не отвечаем.
    <br>Если вы ввели свои персональные данные, то вас никто не заставлял ими делится :) </br>
</p>
